<!DOCTYPE html>

<html data-bs-theme="dark" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>j</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    </head>
    <body>



        <div class="container">

            <div>
                <div class="row m-2">

                    <div class="col-md-4">
                        <h2 class="fw-bold">Informacion del usuario: </h2>
                        <div></div>


                    </div>

                </div>

                <div class="row m-2">

                    <div class="col-md-9">
                        <p>Para agregar un usuario presionar el boton</p>
                    </div>

                    <div class="col-md-3">
                        <br/><!-- comment -->

                        <a class="btn btn-primary" th:href="@{usuario/form}">Agregar un nuevo usuario</a>

                        <br/>
                    </div>

                </div>
            </div>




            <div class="cl-sm table-responsive">

                <table class="table table-striped border border-primary">
                    <thead>
                        <tr class="text-start">
                            <th>Datos personales</th>
                            <th>Info de contacto</th>
                            <th>Direccion</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="text-start">


                        <tr th:each="usuario : ${usuarios}">


                            <td>
                                <span style="white-space: pre-line;" th:text="|Nombre: ${usuario.nombre} ${usuario.apellidoPaterno}  ${usuario.ApellidoMaterno}
                                 FechaNacimiento: ${usuario.FechaNacimiento}
                                 Sexo: ${usuario.Sexo}|"></span>
                                <br>
                                <img th:src="@{'data:image/png;base64,' + ${usuario.imagen}}" alt="Imagen" style="width: 100px" onerror="this.onerror=null; this.outerHTML='<a href=\'https://m.media-amazon.com/images/I/61yF9ssd-3L._AC_UF894,1000_QL80_.jpg\'>Imagen no disponible</a>';"/>
                            </td>

                            <td th:each="rol : ${usuario.rol}"  style="white-space: pre-line;" th:text="|Email: ${usuario.email} 
                                Telefono: ${usuario.telefono} 
                                Celular: ${usuario.celular}
                                Nombre de usuario: ${usuario.username}
                                Rol: ${rol.NombreRol}|"></td>
                            <td> 
                    <li style="white-space: pre-line;" th:each="direccion : ${usuario.Direcciones}" th:text="|Colonia: ${direccion.colonia.nombre}
                        Calle: ${direccion.Calle}   
                        Numero ext: ${direccion.NumeroExterior}|">
                    </li>
                    </td>

                    <td>                        
                        <a class="btn btn-warning" th:href="@{/usuario/form}"><i class="bi bi-pencil-square"></i></a>

                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminar"><i class="bi bi-trash-fill"></i></button>
                    </td>
                    </tr>

                    </tbody>
                </table>

            </div>

            <div class="modal fade" id="eliminar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminar usuario</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" >

                            <form method="post" th:object="${usuario}" th:action="@{/usuario/delete}">
                                Informacion basica del usuario
                                <input type="hidden" th:field="*{usuarios.IdUsuario}" />
                                <input type="text" th:field="*{usuarios.Nombre}" />
                            </form>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <a class="btn btn-primary">Eliminar Usuario</a>
                            <!--                        <button type="button" class="btn btn-primary">Confirmar</button>-->
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </body>
</html>
